.container {
    width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 40px;

}

.header {
    display: flex;
}

.navbar {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.list {
    display: flex;
    width: 60%;
    justify-content: space-between;
    list-style-type: none;

}

.list-item {
    text-decoration: none;
    color: #303032;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.82px;
    text-transform: uppercase;

    ;
}

.header__main {
    width: 600px;
}

.header__main h1 {
    padding-top: 35px;
    width: 545px;
    height: 153px;
    flex-shrink: 0;
    color: #303032;
    font-family: Playfair Display;
    font-size: 57px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    /* 82.65px */
    letter-spacing: 2.85px;
    text-transform: uppercase;
}

.header__main p {
    color: #303032;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    margin-top: 40px;
    width: 238px;
    height: 58px;
    flex-shrink: 0;
    background: #303032;

    color: #FFF;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.08px;
    text-transform: uppercase;
}

.span {
    margin-top: 10px;
    color: #303032;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-rght {
    background: #fceae8;
}

.search-btn {
    bottom: 830px;
    left: 1500px;
    position: absolute;
    font-size: 24px;
    background: transparent;
    border: none;

}

.case {
    bottom: 830px;
    left: 1520px;
    position: absolute;
    font-size: 24px;
    background: transparent;
    border: none;
    margin-left: 20px;
}

.card-span {
    bottom: 270px;
    right: 360px;
    position: absolute;
    width: 41px;
    height: 205px;
    flex-shrink: 0;
}

.card-span h1 {
    color: rgba(0, 0, 0, 0.30);
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    /* 29px */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.card-span h2 {
    color: #000;
    font-family: Playfair Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    /* 58px */
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* =================== Tugadi ================= */

.Novin {
    margin-left: 40%;
}

.imgc {
    width: 255px;
    height: 239px;
    flex-shrink: 0;
}

.wrapper {

    justify-content: center;
    display: flex;
    gap: 80px;
}

.card1 {
    width: 340px;
    height: 289px;
    flex-shrink: 0;
    background: #FFF;

}

.card1 h5 {
    color: #303032;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card1 p {
    padding-left: 50px;
    color: #303032;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card1 img {
    width: 245px;
    height: 229px;
    flex-shrink: 0;
}

.card2 {
    width: 270px;
    height: 289px;
    flex-shrink: 0;
    background: #FFF;

}

.card2 h5 {
    color: #303032;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card2 p {
    padding-left: 60px;
    color: #303032;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card2 img {
    width: 245px;
    height: 229px;
    flex-shrink: 0;
}

.card3 {
    width: 270px;
    height: 372px;
    flex-shrink: 0;
    background: #FAECE9;
}

.card3 h5 {
    padding-left: 45px;
    color: #303032;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card3 p {
    padding-left: 70px;
    color: #303032;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card3 img {
    width: 245px;
    height: 229px;
    flex-shrink: 0;
}


.card4 {
    width: 270px;
    height: 289px;
    flex-shrink: 0;
    background: #FFF;

}

.card4 h5 {
    color: #303032;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card4 p {
    margin-left: 60px;
    color: #303032;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* ===================== Tugadi ============== */

.Mask-img {
    margin-bottom: 30px;
    margin-top: 108px;
    margin-left: 578px;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
}

.Mask-title {

    margin-left: 500px;
    color: #444348;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 154.358%;
    /* 27.784px */
    width: 240px;
    height: 51px;
    flex-shrink: 0;
}

.Mask-text {
    margin-left: 300px;
    width: 653px;
    height: 69px;
    flex-shrink: 0;
    color: #444348;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 154.358%;
    /* 24.697px */
}

/*==============Tugadi===========*/

.list-wrap {
    margin-bottom: 30px;
    margin-left: 60px;
    display: flex;
    gap: 48px;
}

.list-wrap a {
    color: #000;
}

.list-text {
    list-style-type: none;
}

.list-tt {
    list-style-type: none;
}

.wrap-nol {
    width: 915px;
    height: 590px;
    flex-shrink: 0;
    background: #FAECE9;
}

.wrap-nol h1 {
    padding: 50px;
    margin-left: 50px;
}

.card-ctul {
    margin-left: 100px;
    width: 209px;
    height: 400px;
    flex-shrink: 0;
    background: #FFF;
}

/*=============(:=========*/

.card__text {
    margin-left: 30px;
    width: 171px;
    height: 29px;
    flex-shrink: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-span1 {
    margin-left: 30px;
    width: 69px;
    height: 40px;
    flex-shrink: 0;
    color: #303032;
    font-family: Open Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-span2 {
    margin-left: 10px;
    width: 43px;
    height: 23px;
    flex-shrink: 0;
    color: #979798;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: strikethrough;

}
.card-btn{
    margin-left: 100px;
    width: 209px;
height: 58px;
flex-shrink: 0;
background: #303032;


color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.08px;
text-transform: uppercase;
width: 200px;
}
.card-wr{
    display: flex;
}
/*======= TugadI (: ============== */

.navbar1{
    display: flex;
    width: 700px;
    justify-content: space-between;
}
.list1{
    padding-left:800px;
    gap: 60px;
    display: flex;
    list-style-type: none;
}


.Tel{
    margin-left: 10px;
    width: 136px;
height: 19px;
flex-shrink: 0;
color: #303032;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.adres{
    padding-left: 90px;
    width: 144px;
height: 20px;
flex-shrink: 0;
color: #303032;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
